

/env
/neural
!/neural/weights/prod
/**/.git
/**/.idea/**/*
/**/.ipynb_checkpoints/**/*
/**/__pycache__/**/*
/src/notebooks
/**/jupyter_config/**/*
!/**/.gitkeep
/**/*.txt
!/requirements/*.txt
/**/*.doc
/**/*.docx
/**/*.png
/**/*.jpg
/**/*.jpeg
/**/*.pdf
/**/*.csv
/**/*.xml
/**/*.coverage
/**/*.tar
/**/*.tgz
/**/*.gz
/.github
/**/*.zip
/**/*.7z
/**/*.rar
/**/.cache/**/*

