/**/.idea/**/*
/**/.ipynb_checkpoints/**/*
/**/__pycache__/**/*
/data/**/*
/dataset/**/*
/datasets/**/*
/neural/logs/**/*
/neural/**/*
/weights/**/*
/tmp/**/*
/configs/**/*
!/configs/example.config.json
!*.gitkeep
/docker/source/**/*
*.env
!/**/example.env
/notebooks/**/*
!/notebooks/**/*.py
!/notebooks/**/*.ipynb
!/**/.gitkeep
/**/*.txt
/**/*.doc
/**/*.docx
/**/*.png
/**/*.jpg
/**/*.jpeg
/**/*.pdf
/**/*.csv
/**/*.xml
/external/**/*
/**/jupyter_config/lab/**/*
/**/jupyter_config/notebook/**/*
/**/.pytest_cache/**/*
/**/*.coverage
/**/.cache/**/*
*.properties
*.7z
*.rar
*.zip
*.lnk
*.log
*.tmp
/**/mongo/**/*
/**/mongodb/**/*

